@page "/clientdetails"
@using BlazorApp.Logic
@using BlazorApp.Logic.Entities;
@using BlazorApp.Logic.Models
@using BlazorApp.Logic.Repositories
@using BlazorApp.Logic.Services;
@using BlazorApp.Logic.Interfaces;
@using BlazorApp.Logic.DataStorage;
@inject IRepository<User> UserService
@*@inject HttpClient Http*@
<h1>Client Data</h1>
<p>Blazor CRUD operation</p>
<div class="row">
    <div class="col-md-6">
        <a href='/client/add' class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Add Client
        </a>
    </div>
    <div class="input-group col">
        <input type="text" class="form-control" placeholder="Search user by name"
               @bind="SearchString" @bind:event="oninput" @onkeyup="FilterUser" />
        @if (SearchString.Length > 0)
        {
            <div class="input-group-append">
                <button class="btn btn-danger" @onclick="ResetSearch">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        }
    </div>
</div>
<br />
@if (userList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
                <th>ID</th>
                <th>LastName</th>
                <th>E-mail</th>
                <th>DataOfBirth</th>
                <th>Nationality</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in userList)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.DataOfBirth</td>
                    <td>@user.Nationality</td>
                    <td>
                        <a href='/client/edit/@user.Id' class="btn btn-outline-dark" role="button">
                            Edit
                        </a>
                        <a href='/client/delete/@user.Id' class="btn btn-outline-danger" role="button">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
@code {
    protected List<ClientDto> userList = new();
    protected List<ClientDto> searchUserData = new();
    protected ClientDto user = new();
    protected string SearchString { get; set; } = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        GetUser();
    }
    protected void GetUser()
    {
        var clients = UsersStorage.Clients.ToList();
        //mapowanie
        foreach (var client in clients)
        {
            userList.Add(new ClientDto() {
                Id=client.Id, 
                LastName = client.LastName, 
                Email = client.Email,
                DataOfBirth=client.DataOfBirth,
                Nationality=client.Nationality
            });
        }
        searchUserData = userList;

    }
    protected void FilterUser()
    {
        if (!string.IsNullOrEmpty(SearchString))
        {
            userList = searchUserData
                .Where(x => x.LastName.IndexOf(SearchString, StringComparison.OrdinalIgnoreCase) != -1)
                .ToList();
        }
        else
        {
            userList = searchUserData;
        }
    }
    protected void DeleteConfirm(int userID)
    {
        user = userList.FirstOrDefault(x => x.Id == userID);
    }
    public void ResetSearch()
    {
        SearchString = string.Empty;
        userList = searchUserData;
    }
}